#accesso {
	position:static;
	width:100%;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#000;
}

.txt_accesso { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; color: #FFFFFF; font-size: 14px; text-transform: none; text-decoration: none}

/* TXT */ 

.input_accesso {
    -webkit-appearance: none;
    display: block;
	background-color:transparent;
    border: solid 1px #FFF;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#FFF;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.input_accesso:focus {
    background: #060;
}

.formerize-placeholder {
    color: #FFF !important;
}
 
::-webkit-input-placeholder {
    color: #FFF !important;
}
 
:-moz-placeholder {
    color: #FFF !important;
}
 
::-moz-placeholder {
    color: #FFF !important;
}
 
:-ms-input-placeholder {
    color: #FFF !important;
}
 
::-moz-focus-inner {
    border: 0;
}

/* BOTTONE */ 

.bottone_accesso {
    -webkit-appearance: none;
    display: block;
	background-color:transparent;
    border: solid 1px #FFF;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#FFF;
    cursor:pointer;
    -moz-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
 
.bottone_accesso:hover {
    background: #060;
    color:#FFF;
}

