#manager {
	position:static;
	width:100%;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#000;
}

div.tool {
	display:none;
	position:relative;
	padding-top:10px;
	width:100%;
	height:auto;
}

.titolo_manager { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; color: #FFFFFF; font-size: 21px; text-transform: none; text-decoration: none}
.txt_manager { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; color: #FFFFFF; font-size: 14px; text-transform: none; text-decoration: none}

/* BACKGROUND */

.bg_varchar { background-color:rgba(204, 102, 0, 0.4) !important; padding:0px; margin:0px; border:none; }
.bg_blob { background-color:rgba(204, 102, 0, 0.2) !important; padding:0px; margin:0px; border:none; }
.bg_grafica { background-color:rgba(158, 200, 236, 0.4) !important; padding:0px; margin:0px; border:none; }
.bg_time { background-color:rgba(255, 170, 187, 0.4) !important; background-repeat:repeat; padding:0px; margin:0px; border:none; width:100%; }
.bg_allegato { background-color:rgba(255, 205, 0, 0.4) !important; background-repeat:repeat; padding:0px; margin:0px; border:none; width:100%; }
.manager{ background-color:rgba(250, 150, 0, 0.4) !important; padding:0px; margin:0px; border:none; width:100%; }

/* LINEA */

#linea_manager {
	background-color:#F00;
    border-bottom: dotted 1px #000;
	height:5px;
    width: auto;
}

/* TXT */ 

.input_manager {
    -webkit-appearance: none;
    display: block;
	background-color:transparent;
    border-bottom: dotted 1px #FFF;
    width: 150px;
    padding-top: 10px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size:12px;
    font-weight:normal;
    color:#000;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.input_manager:focus {
    background: #FFF;
}

.formerize-placeholder {
    color: #333 !important;
}
 
::-webkit-input-placeholder {
    color: #333 !important;
}
 
:-moz-placeholder {
    color: #333 !important;
}
 
::-moz-placeholder {
    color: #333 !important;
}
 
:-ms-input-placeholder {
    color: #333 !important;
}
 
::-moz-focus-inner {
    border: 0;
}

/* BOTTONE */ 

.bottone_menu {
    -webkit-appearance: none;
    display: block;
	background-color:transparent;
    border: solid 1px #FFF;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#FFF;
    cursor:pointer;
    -moz-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
 
.bottone_menu:hover {
    background: #060;
    color:#FFF;
}
 
.bottone_manager {
    -webkit-appearance: none;
    display: block;
	background-color:#000;
    border: solid 1px #FFF;
    border-radius: 5px;
    width: 70px;
    padding: 10px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#FFF;
    cursor:pointer;
    -moz-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
 
.bottone_manager:hover {
    background: #060;
    color:#FFF;
}

/* SELECT */

.select_manager {
	background-color:transparent;
    border-bottom: dotted 1px #FFF;
    width: 150px;
    padding-top: 10px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size:12px;
    font-weight:normal;
    color:#000;
}

/* RADIOBUTTON */

.radio_manager {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

.radio_manager + label {
    display:inline-block;
    margin: 0 0 5px 0;
    padding: 2px 0 0px 24px;
    cursor: pointer;
    background: url('start-radio.png') left center no-repeat;
}
 
.radio_manager:checked + label {
    background-image: url('radio.png');
}

/* CHECKBOX */

.check_manager {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

.check_manager + label {
    display:inline-block;
    margin: 0 0 5px 0;
    padding: 2px 0 0px 24px;
    cursor: pointer;
    background: url('../manager/checkbox.png') left center no-repeat;
}
 
.check_manager:checked + label {
    background-image: url('../manager/checkbox_checked.png');
}
