
.pop_title { font-family:Verdana, Arial, Helvetica, sans-serif; font-style:normal; font-weight:bold; color:#FFFFFF; font-size:18px; text-transform: none; text-decoration: none; text-align:left; }
.pop_operazione { font-family:Verdana, Arial, Helvetica, sans-serif; font-style:normal; font-weight:bold; color:#999999; font-size:12px; text-transform: none; text-decoration: none; text-align:left; }
.pop_breadcrumbs { font-family:Verdana, Arial, Helvetica, sans-serif; font-style:normal; font-weight:bold; color:#000000; font-size:12px; text-transform: none; text-decoration: none; text-align:left; }
.pop_info { font-family:Verdana, Arial, Helvetica, sans-serif; font-style:normal; font-weight:normal; color:#000000; font-size:10px; text-transform: none; text-decoration: none; text-align:left; }
.pop_varchar, .pop_permalink { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;  font-size: 18px; color: #000000; background-color: #CCCCCC;  border:0px solid; padding: 5px; width: 410px; height: 35px;}
.pop_manca { background-color: #FF9999; }
.pop_blob {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #CCCCCC;
	border: 0px solid;
	line-height: 15px;
}
.pop_data { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;  font-size: 18px; color: #000000; background-color: #CCCCCC;  border:0px solid; padding: 5px; width: 85px; height: 35px;}
.pop_errore { font-family:Verdana, Arial, Helvetica, sans-serif; font-style:normal; font-weight:normal; color:#FF0000; font-size:10px; text-transform: none; text-decoration: none; text-align:left; }
.pop_frm { font-family:Verdana, Arial, Helvetica, sans-serif; font-style:normal; font-weight:normal; color:#000000; font-size:18px; text-transform: none; text-decoration: none; text-align:left; }

.pop_link { font-family: Helvetica, Arial, Verdana, sans-serif; font-style: normal; font-weight: bold; color: #004185; font-size: 14px; text-transform: none; text-decoration: none; }
.pop_link:Visited { font-family: Helvetica, Arial, Verdana, sans-serif; font-style: normal; font-weight: bold; color: #004185; font-size: 14px; text-transform: none; text-decoration: none; }
.pop_link:Active { font-family: Helvetica, Arial, Verdana, sans-serif; font-style: normal; font-weight: bold; color: #004185; font-size: 14px; text-transform: none; text-decoration: none; }
.pop_link:Hover { font-family: Helvetica, Arial, Verdana, sans-serif; font-style: normal; font-weight: bold; color: #004185; font-size: 14px; text-transform: none; text-decoration: underline; }

